@import "constants";

@import 'components/contactsList';
@import 'components/header';

@import 'containers/edit';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: $mediumFontSize;
  background: #ffbda4;
  font-family: sans-serif;
  @media (max-width: 500px) {
    font-size: $smallFontSize;
  }
}

.btn {
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}